<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        h1 {
            color: green;
        }

        h2 {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>

    <br/>
    <br/>

    <h2>
        <a href="/users/" class="btn btn-primary">List of users</a>
    </h2>
</div>

</body>
</html>