<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    table th, table td {
      padding: 8px;
    }

    table {
      margin-top: 20px;
    }

    h3 {
      margin-top: 15px;
    }
  </style>
</head>
<body>

<div class="container">
  <table class="table table-sm table-hover">
    <thead class="table-success">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">LastName</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getLastName()}"></td>
      <td th:text="${user.getAge()}"></td>
      <td th:text="${user.getEmail()}"></td>
    </tr>
    </tbody>
  </table>

  <hr/>

  <h3>
    <a href="/users/new" class="btn btn-primary">Create new user</a>
  </h3>

  <h3>
    <a href="/users/showIdFor3" class="btn btn-secondary">Update or delete user by Id</a>
  </h3>
</div>

</body>
</html>
