<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User by Id</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<div>
    <table class="table table-dark table-hover">
        <thead class="table-success">
        <tr class="d-flex">

            <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getEmail()}"/>

        </tr>
        </tbody>

    </table>
</div>
<body>

<br/>
<hr/>
<h3>
    <a href="/users/">Return to List of Users</a>
</h3>
<br/>
<h3>
    <a th:href="@{/users/delete(id=${user.id})}">Delete user</a>
</h3>
<br/>
<h3>
  <a th:href="@{/users/update(id=${user.id})}">Update user</a>
</h3>
</body>
</html>
