<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user by Id and delete</title>
</head>
<body>
<h2>Write user ID</h2>

<form th:method="GET" th:action="@{/users/action}">
    <label for="userId">Enter User ID: </label>
    <input type="text" id="userId" name="id" th:value="${id}"/>

    <input type="hidden" name="action" value="show"/>
    <input type="submit" value="Show User"/>

    <input type="hidden" name="action" value="delete"/>
    <input type="submit" value="Delete User" />

    <input type="hidden" name="action" value="update"/>
    <input type="submit" value="Update User"/>
</form>
<br/>

</body>
</html>