<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/update}" th:object="${user}">

    <input type="hidden"  th:field="*{id}" name="id">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>
    <input type="submit" value="Update User"/>
</form>

</body>
</html>
